<div class="container pt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-decoration-none" href="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit {{post.title}}</li>
    </ol>
  </nav>
</div>
<div class="container pb-5">
  <h1 class="text-center">Edit Post: {{post.title}}</h1>
  <form>
    <div class="my-4">
      <textarea class="form-control" id="postBodyInput" rows="8" required>{{post.post_body}}</textarea>
    </div>
    <div class="mb-3 d-grid gap-2 col-sm-12 col-md-6 mx-auto">
      <button id="updatePostBtn" type="button" class="btn btn-primary form-control-lg">Save</button>
    </div>
  </form>
</div>

<script src="/js/update-post.js" charset="utf-8"></script>
