<div class="container pb-4">
  <h1 class="text-center pt-4 text-decoration-underline">Posts</h1>
  <div class="list-group py-4">


    {{#each posts as |post|}}
      {{> post-info post }}
    {{/each}}


  </div>

</div>
