<div class="container py-4">
  <h1 class="text-center">Blog Posts</h1>
  <div class="list-group py-4">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h4>Why MVC is so important.</h4>
        <small>Posted by Mark Creasy on 6/2/2022</small>
      </div>
      <p class="mb-1">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data,
        the View layer for design, and the Controller layer for application logic.</p>
      <span class="badge bg-primary rounded-pill">14 comments</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h4>Why MVC is so important.</h4>
        <small>Posted by Mark Creasy on 6/2/2022</small>
      </div>
      <p class="mb-1">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data,
        the View layer for design, and the Controller layer for application logic.</p>
      <span class="badge bg-primary rounded-pill">14 comments</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h4>Why MVC is so important.</h4>
        <small>Posted by Mark Creasy on 6/2/2022</small>
      </div>
      <p class="mb-1">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data,
        the View layer for design, and the Controller layer for application logic.</p>
      <span class="badge bg-primary rounded-pill">14 comments</span>
    </a>
  </div>

</div>
